<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArk_XoN0DgwTJIBTbgLrjfJ2qIRhAV-vE</string>
	<key>GCM_SENDER_ID</key>
	<string>282023228454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulisse500</string>
	<key>PROJECT_ID</key>
	<string>ulisse500</string>
	<key>STORAGE_BUCKET</key>
	<string>ulisse500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282023228454:ios:8aeef3f9974b683f35e2e7</string>
</dict>
</plist>